# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3
*.env
.env.*

# Virtualenv
.venv/
env/
venv/

# Editor/IDE
.vscode/
.idea/
*.swp

# Logs and local dev stuff
*.log
*.bak
*.tmp

# Migrations (optional)
alembic/versions/*.pyc
alembic/versions/__pycache__/
alembic.ini

# Docker
*.pid
*.sock
*.db
*.tar
*.img
*.log
*.container
.dockerignore

# V
